header{
    background-color: rgb(126, 126, 126);
    height: 150px;
}

.stnav{
    background-color: #6c757d;
    height: 40px;
}

.botaomilagre{
    margin-left: 4%;
}

.destaque{
    margin-right: 30.75%;
}

.destaque h1{
    background-color: rgb(83, 83, 83);
    height: 50px;
    width: 100%;
}

.destaque-baixo{
    background-color:  rgb(126, 126, 126);
    width: 100%;
    height: 240px;
}


.destaque img{
    width: 200px;
}

.destaque-p{
    text-align: justify;
}

.double-section1, .double-section2{
    background-color:rgb(83, 83, 83);
    width: 25%;
    height: 300px;
}

/* CDGS EXTRA */

.botaomilagre{
    width: 100%;
}